
.Add__Customer {
    border : none;
            width: 80px;
            padding: 5px;
            background-color: teal;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
}
