.theme-menu {
    position: absolute;
    right: -300px;
    top: 0;
}

.theme-menu {
    background-color: red;
    position: absolute;
    top: -1100px;
    width: 300px;
    right: 30px;
    z-index: 999;
    height: max-content;
    padding: 20px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    transition: top 1s var(--transition-cubic);
    border-radius: var(--border-radius);
}

.theme-menu.active {
    right: 0;
    display: inline-block;
    top: 85px;
    right: 30px;
}

.theme-menu__close {
    position: absolute;
    top: 17px;
    right: 20px;
    background-color: transparent;
    font-size: 1.5rem;
}

.theme-menu__select {
    margin-top: 40px;
}

.mode-list {
    margin-top: 20px;
}

.mode-list>li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mode-list>li~li {
    margin-top: 10px;
}

.mode-list__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 1.5rem;
}

.mode-list__color>i {
    transform: scale(0);
    transition: transform 0.5s var(--transition-cubic);
}

.mode-list__color.active>i {
    transform: scale(1);
}